html,
body,
#root,
.room {
  height: 100%;
  margin: 0;
  text-align: center;
  
}

.Lit {
  background-color: white;
  color: black;
}

.Dark {
  background-color: black;
  color: white;
}

.heading
 {
  padding-top: 1vh;
   font-size: larger;
   font-weight: bold;
 }